on: 
  push:
    branches:
      - master

name: CI

jobs:
  build:
    runs-on: [windows-2019]
    steps:
      - name: checkout
        uses: actions/checkout@v1

      - name: Setup Nuget.exe
        uses: warrenbuckley/Setup-Nuget@v1

      - name: Nuget Restore 
        run: nuget restore .\OculusLibrary.sln

      - name: Build (DotNET4.6.2)
        run: |
           cd "C:\Program Files (x86)\Microsoft Visual Studio\2019\Enterprise\MSBuild\Current\Bin\"
           .\MSBuild.exe $Env:GITHUB_WORKSPACE\OculusLibrary.sln -p:Configuration=Release -restore